<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">   
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <product-create></product-create>
        </div>
    </div>

    <script type="text/x-template" id="productCreateTemplate">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <p class="h2">Add Product</p>
                    <hr class="bg-success">
                    <div class="input-group">
                        <input type="text" 
                            v-model="productName" 
                            placeholder="Product Name" 
                            class="form-control" 
                        >
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="number" 
                            v-model="productPrice" 
                            placeholder="Product Price" 
                            class="form-control" 
                        > 
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" 
                            v-model="productImage" 
                            class="form-control" 
                            placeholder="Product Image"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" @click="addNewProduct" v-if="addProduct">
                        <i class="fa fa-plus-square"></i>
                    </button>
                </div>
            </div>    
            <product-retrive :productItems="productItems"></product-retrive>
        </div>
    </script>

    <script type="text/x-template" id="productRetriveTemplate">
        <div class="row">
            <div class="col-">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Image Path</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="product,index in productItems">
                                <td> {{ product.id }} </td>
                                <td> {{ product.name }} </td>
                                <td> ${{ product.price }} </td>
                                <td> <img v-bind:src="product.image" alt="demo" style="width:100px;"> </td>
                                <td>
                                    <button class="btn btn-warning" @click="updateProduct(index)"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-danger" @click="deleteProduct(index)"><i class="fa fa-trash"></i></button>
                                    <button class="btn btn-success" @click="addToCart(index)"><i class="fa fa-cart-arrow-down"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="editProduct">
                    <div class="form-group">
                        <p class="h2">Update Product</p>
                        <hr class="bg-success">
                        <div class="input-group">
                            <input type="text" 
                                v-model="editProductName" 
                                placeholder="Product Name" 
                                class="form-control" 
                            >
                        </div>
                    </div>
    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="number" 
                                v-model="editProductPrice" 
                                placeholder="Product Price" 
                                class="form-control" 
                            > 
                        </div>
                    </div>
    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" 
                                v-model="editProductImage" 
                                class="form-control" 
                                placeholder="Product Image"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning" @click="productButtonEdit">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
            <cart-Component :cartItems="cartItems"></cart-Component>
        </div>
    </script>

    <script type="text/x-template" id="addToCartTemplate">
        <div class="col-">
            <p class="h2">Add To Cart</p>
            <hr class="bg-success">
            <div v-if="cartItems.length" v-for="cartItem,index in cartItems">
                <p><img v-bind:src="cartItem.image" alt="demo" style="width:100px;"></p>
                <div class="d-flex justify-content-between" >
                    <p>
                        {{ cartItem.name }} 
                    </p>
                    <p>
                        ${{ cartItem.price }}
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>
                        {{ cartItem.quantity }}
                    </p>
                    <div>
                        <button class="btn btn-success" @click="addProductCartQuantity(index)"><i class="fa fa-plus-square"></i></button>
                        <button class="btn btn-danger" @click="subtractProductCartQuantity(index)"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-danger" @click="deleteProductCart(index)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
                <hr class="bg-info">
            </div>
            <div class="d-block d-flex justify-content-between">
                <div class="justify-content-start">
                    <p v-if="subTotal">Sub-Total</p>
                    <p v-if="shippingCharge">Shipping Charge</p>
                    <!-- <p v-if="discountAmount">Discount Amount</p> -->
                    <p v-if="total">Total</p>
                    <p v-if="tax">Tax</p>
                    <p v-if="payable">Payable</p>
                </div>

                <div class="justify-content-end">
                    <p v-if="subTotal">
                        {{ subTotal }}
                    </p>
                    <p v-if="shippingCharge">
                        {{ shippingCharge }}
                    </p>
                    <!-- <p v-if="discountAmount">
                        {{ DiscountAmount }}
                    </p> -->
                    <p v-if="total">
                        {{ total }}
                    </p>
                    <p v-if="tax">
                        {{ tax }}
                    </p>
                    <p v-if="payable">
                        {{ payable }}
                    </p>
                </div>
            </div>
        </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
